################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VacancyScheduler.API/bin/Debug/net8.0
/VacancyScheduler.API/obj
/VacancyScheduler.FunctionalTests/obj/Debug/net8.0
/VacancyScheduler.UnitTests/obj/Debug/net8.0
